.img123{
	width: 80%;
}
.a{

    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
}
.b{
	line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;
}
.c{
	background: url('../img/bannerabout.jpg');
    /*	width: 100%;*/
    /*	height: 450px;*/
	margin-top: 30px;
}
.d{
   line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    
}
.e{

    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
}
footer{
   background: #111215;
   height: 450px;
}

/* navbar */
.weblogo{
   width: 65px;
}
.navbar{
   background: #00000082!important;
}
.navbar-nav li
{
  padding: 0 10px;
}
.navbar-nav li a
{
   color: #fff!important;
   font-weight: 600;
   font-size: 20px;
}
.moblogo{
   display: none;
}

/*media */
@media(max-width:768px)
{
   .img123{
	width: 100%;
	margin-top: 30px;
  }

  .weblogo{
   display: none;
  }
  .moblogo{
   display: block;
  }
  .navbar{
   background: #fcb21c!important;

  } 
}
.cc{
   background-image: url(https://pn-paul.netlify.app/image/ffback2.png);
   width: 100%;
}
 
 
